<header class="main-header">

    <img class="menu-icon" height="40" src="/images/menu.png" alt="">

    <div class="site_logo">
        <strong class="flip">FLIP</strong>
        <strong class="note-title">NOTE</strong>
    </div>

    <nav class="navbar">
        <ul class="nav-wrapper">
            <li class="nav-item"><a href="#">HOME</a></li>
            <li class="nav-item"><a href="#">FEATURES</a></li>
            <li class="nav-item"><a href="#">ABOUT</a></li>
            <li class="nav-item"><a href="#">CONTACT</a></li>
        </ul>
    </nav>

    <div class="btns">
        <button class="login-btn">Login</button>
        <button class="signup-btn">Sign up</button>
    </div>

</header>

<div class="spacer"></div>