@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #;
    --light-text: #fff;
    --accent: #ff751f;
    --bg: #FBEFEF;
    --transparent: #8b5e3c52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    position: relative;
    background: var(--bg);
    min-height: 100dvh;
}

.main-header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 98%;
    max-width: 1500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
    background: var(--transparent);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;

    z-index: 1000;
}

.menu-icon {
    display: none;
}

.site_logo {
    line-height: .9;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
}

.flip {
    background: linear-gradient(130deg,
            #b92727,
            #f8c881,
            #f1d96c);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.note-title {
    font-style: italic;
}

.nav-wrapper {
    font-family: Google Sans;
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    font-size: .95rem;
    font-weight: 700;
    transition: .3s;

}

.nav-item a:hover {
    color: #fff;
}

.btns {
    display: flex;
    gap: 12px;
}

.login-btn,
.signup-btn {
    padding: 10px 35px;
    border-radius: 7px;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
}


.login-btn {
    background: none;
    color: var(--light-text);
    border: 1px solid rgba(255, 255, 255, .4);
}

.login-btn:hover {

    background: rgba(255, 255, 255, .1);
}

.signup-btn {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 100%);
    color: var(--light-text);
    border: none;
    font-weight: 600;
}

.signup-btn:hover {
    background: #ffffff46;
}

.spacer {
    visibility: hidden;
    height: 110px;
}


@media screen and (max-width:1000px) {

    .site_logo {
        font-size: 1.5rem;
    }

    .navbar,
    .btns {
        display: none;
    }


    .menu-icon {
        display: block;
    }


    .main-header {
        padding: 0px 60px;
        justify-content: space-between;
    }
}



@media screen and (max-width:600px) {
    .menu-icon {
        display: block;
    }

    .navbar,
    .btns {
        display: none;
    }

    .main-header {
        padding: 0px 20px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }


}