.bg-vid {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.main-content,
header,
main,
footer {
    position: relative;
    z-index: 1;
}


.hero {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100dvh;
}

.hero-content {
    color: var(--light-text);
    width: 80%;
}


.hero-content h1 {
    color: var(--light-text);
    font-size: clamp(1.8rem, calc(1rem + 5vw), 4.5rem);
    line-height: 100%;

}

.hero-content h2 {
    margin-top: 12px;
    color: var(--accent);
    font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
    line-height: 110%;
}

.hero-content p {
    color: var(--light-text);
    font-family: DM Sans;
    padding: 3px;
}

.hero-btns {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.hero-btns button {
    border: none;
    color: var(--light-text);
    border-radius: 6px;
    padding: 9px 20px;
    background: linear-gradient(135deg, #F97316 0%, #EC4899 100%);
    font-size: .7rem;
    border: 2px solid rgba(245, 222, 179, 0.648);
    transition: .4s ease;
}

.hero-btns .demo-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background: none;
    transition: .4s ease;
}

.demo-btn:hover {
    background: #ffffff46;

}


.getstrt-btn:hover {
    background: #ffffff46;
}

#typewriter::after {
    content: "|";
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}





@media screen and (max-width:1000px) {


    .navbar,
    .btns {
        display: none;
    }




}



@media screen and (max-width:600px) {

    .hero-content p {
        display: none;
    }

    .hero-content .demo-btn {
        display: none;
    }


}